<!DOCTYPE html>
<title>Notepad: {{notepad.id}}</title>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="pure-menu pure-menu-horizontal centered vspaced">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><input type="button" onclick="save('{{notepad.id}}');" class="centered pure-button" value="Save Notepad"></li>
        <li class="pure-menu-item"><a href="https://github.com/joeylmaalouf/note-site" class="pure-button">Project Source</a></li>
      </ul>
    </div>
    <textarea id="notepad" spellcheck="false">{{notepad.text}}</textarea>
  </body>
</html>
