<!DOCTYPE html>
<title>Notepad: {{notepad.id}}</title>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/pure-min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <div class="centered vspaced">
      <a class="pure-button" onclick="save('{{notepad.id}}');">Save Notepad</a>
      <a class="pure-button" href="/">New Notepad</a>
      <a class="pure-button" href="https://github.com/joeylmaalouf/note-site">Project Source</a>
    </div>
    <textarea id="notepad" spellcheck="false">{{notepad.text}}</textarea>
  </body>
</html>
